{% extends 'base.html' %}


{% block content %}


    <!--Password Reset Confirm-->
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Formularz zmiany hasła</h2>
        <hr>

        <section class="login-page">

            <form method="POST">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="form-group">
                    <h1>Wpisz swoje nowe hasło</h1>
                    {{ form.new_password1.errors }}
                    {{ form.new_password1 }}
                </div>
                <div class="form-group">
                    <h1>Potwierdź swoje nowe hasło</h1>
                    {{ form.new_password2.errors }}
                    {{ form.new_password2 }}
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Reset password</button>
                </div>
            </form>
        </section>
    </div>

{% endblock %}